.ts02-Body-Sans-Modern,.ts04-Subtitle-Comfortea-Bold
{
	font-family: comfortaa-n7, sans-serif;
}

.ts04-Title-Raleway-Thin
{
	font-family: raleway-n1, sans-serif;
}

.ts02-Title-Abel,.ts02-Subtitle-Abel
{
	font-family: abel-n4, sans-serif;
}

.Button-Text,.Absatzformat,.Absatzformat-1,.head,.Button-Txt
{
	font-family: ruda-n7, sans-serif;
}

#u325-2
{
	font-family: rock-salt-n4, sans-serif;
}

#u323-2
{
	font-family: ruda-n7, sans-serif;
}

#u256-3,#u256-5,#u257-3,#u257-5,#u255-4,#u260-3,#u260-5,#u259-4
{
	font-family: ruda-n9, sans-serif;
}

