.ts02-Body-Sans-Modern,.ts04-Subtitle-Comfortea-Bold
{
	font-family: comfortaa-n7, sans-serif;
}

.ts04-Title-Raleway-Thin
{
	font-family: raleway-n1, sans-serif;
}

.ts02-Title-Abel,.ts02-Subtitle-Abel
{
	font-family: abel-n4, sans-serif;
}

.Button-Text,.Absatzformat,.Absatzformat-1,.head,.Button-Txt
{
	font-family: ruda-n7, sans-serif;
}

#u325-2
{
	font-family: rock-salt-n4, sans-serif;
}

#u323-2
{
	font-family: ruda-n7, sans-serif;
}

#u391-3,#u391-5
{
	font-family: ruda-n9, sans-serif;
}

#u314-2,#u314-4
{
	font-family: ruda-n4, sans-serif;
}

#u310-2,#u310-4,#u313-2,#u313-4,#u313-6,#u378-2,#u445-2,#u445-4,#u445-6
{
	font-family: ruda-n7, sans-serif;
}

